# Dependencias de Node.js
node_modules/

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de builds (si usas TypeScript)
dist/
build/

# Configuración de producción y entorno
.env
.env.local
.env.*.local

# Archivos del sistema operativo/macOS
.DS_Store

# Archivos editoriales (Visual Studio Code, etc.)
.vscode/
.idea/
*.swp

# Cobertura de pruebas
coverage/

# Cache de npm
.npm/

# Logs de PM2 o nodemon
logs/
*.log

# Temporal para sesiones de Express
sessions/
